---
http_interactions:
- request:
    method: get
    uri: http://www.giantbomb.com/api/companies/?api_key=c66585c2f638b4f9cb135c0dc661624ce51125cb&field_list=location_country&filter=location_country&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 09-19-2016 15:14:55
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":100,"offset":0,"number_of_page_results":100,"number_of_total_results":12546,"status_code":1,"results":[{"location_country":"USA"},{"location_country":"UK"},{"location_country":"United
        Kingdom"},{"location_country":null},{"location_country":"United Kingdom"},{"location_country":"United
        States"},{"location_country":null},{"location_country":null},{"location_country":null},{"location_country":null},{"location_country":null},{"location_country":"Spain"},{"location_country":null},{"location_country":"USA"},{"location_country":"United
        States"},{"location_country":"Japan"},{"location_country":"Unite[...]
