---
http_interactions:
- request:
    method: get
    uri: http://www.giantbomb.com/api/companies/?api_key=c66585c2f638b4f9cb135c0dc661624ce51125cb&field_list=location_country,name,date_founded&filter=location_country&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 09-20-2016 20:03:12
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":100,"offset":0,"number_of_page_results":100,"number_of_total_results":12558,"status_code":1,"results":[{"date_founded":"1982-05-28
        00:00:00","location_country":"USA","name":"Electronic Arts"},{"date_founded":"1989-01-02
        00:00:00","location_country":"UK","name":"The Hit Squad"},{"date_founded":"1984-01-01
        00:00:00","location_country":"United Kingdom","name":"Gremlin Interactive
        Ltd."},{"date_founded":null,"location_country":null,"name":"Delete"},{"date_founded":null,"location_country":"United
        Kingdom","name":"Domark Software"},{"date_founded":"1979-01-01 00:00:00","location_country":"United
        States","name":"Telegames, Inc."},{"[...]
- request:
    method: get
    uri: http://www.giantbomb.com/api/companies/?api_key=c66585c2f638b4f9cb135c0dc661624ce51125cb&field_list=location_country,name,date_founded&filter=location_country&format=json&offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 09-20-2016 20:03:13
      X-Phoenix-Cached:
     [...]
[...]
