---
http_interactions:
- request:
    method: get
    uri: http://www.giantbomb.com/api/games/?api_key=c66585c2f638b4f9cb135c0dc661624ce51125cb&field_list=name,original_release_date,site_detail_url&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 09-21-2016 17:03:07
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":100,"offset":0,"number_of_page_results":100,"number_of_total_results":51351,"status_code":1,"results":[{"name":"Desert
        Strike: Return to the Gulf","original_release_date":"1992-02-29 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/desert-strike-return-to-the-gulf\/3030-1\/"},{"name":"Breakfree","original_release_date":"1995-12-31
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/breakfree\/3030-2\/"},{"name":"Hyperballoid
        Deluxe: Survival Pack","original_release_date":"2004-12-20 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/hyperballoid-deluxe-survival-pack\/3030-3\/"},{"name":"The
        Chessmaster 2000","original_release_date":"1986-06-15 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/the-chessmaster-2000\/3030-4\/"},{"name":"Bass
        Avenger","original_release_date":"2000-09-28 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/bass-avenger\/3030-5\/"},{"name":"WWE
        SmackDown![...]
- request:
    method: get
    uri: http://www.giantbomb.com/api/games/?api_key=c66585c2f638b4f9cb135c0dc661624ce51125cb&field_list=name,original_release_date,site_detail_url&format=json&offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 09-21-2016 17:03:12
      X-Phoenix-Cached:
      - 'false'
    body:[...]
[...]
- request:
    method: get
    uri: http://www.giantbomb.com/api/games/?api_key=c66585c2f638b4f9cb135c0dc661624ce51125cb&field_list=name,original_release_date,site_detail_url&format=json&offset=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 09-21-2016 17:04:42
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":100,"offset":20,"number_of_page_results":100,"number_of_total_results":51351,"status_code":1,"results":[{"name":"Land
        of Legends","original_release_date":"2005-09-25 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/land-of-legends\/3030-21\/"},{"name":"The
        X-Files Game","original_release_date":"1998-05-31 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/the-x-files-game\/3030-22\/"},{"name":"Dragon''s
        Lair","original_release_date":"1983-07-01 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/dragons-lair\/3030-23\/"},{"name":"Rocky
        Racers","original_release_date":null,"site_detail_url":"http:\/\/www.giantbomb.com\/rocky-racers\/3030-24\/"},{"name":"Skramble","original_release_date":"1983-12-31
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/skramble\/3030-26\/"},{"name":"Covert
        Front: Episode One - All Quiet on Covert Front","original_release_date":"2007-07-17
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/covert-front-episode-one-all-quiet-on-covert-front\/3030-27\/"},{"name":"BALLOONrain","original_release_date":"2006-06-30
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/balloonrain\/3030-28\/"},{"name":"Pogo","original_release_date":"1983-12-31
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/pogo\/3030-29\/"},{"name":"Ro[...]
[...]
- request:
    method: get
    uri: http://www.giantbomb.com/api/games/?api_key=c66585c2f638b4f9cb135c0dc661624ce51125cb&field_list=name,original_release_date,site_detail_url&format=json&offset=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 09-21-2016 17:06:34
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":100,"offset":50,"number_of_page_results":100,"number_of_total_results":51351,"status_code":1,"results":[{"name":"Robo
        Rumble","original_release_date":"1998-12-31 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/robo-rumble\/3030-55\/"},{"name":"Squarez
        Deluxe!","original_release_date":"1993-12-31 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/squarez-deluxe\/3030-56\/"},{"name":"Beyblade","original_release_date":"2001-12-13
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/beyblade\/3030-57\/"},{"name":"Nederland","original_release_date":"1991-01-01
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/nederland\/3030-58\/"},{"name":"Alexi
        Lalas International Soccer","original_release_date":"1999-04-30 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/alexi-lalas-international-soccer\/3030-59\/"},{"name":"Nancy
        Drew: The Final Scene","original_release_date":"2001-11-07 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/nancy-drew-the-final-scene\/3030-60\/"},{"name":"NBA
        Street V3","original_release_date":"2005-02-08 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/nba-street-v3\/3030-61\/"},{"name":"Sid
        Meier''s CivNet","original_release_date":"1995-04-17 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/sid-meiers-civnet\/3030-62\/"},{"name":"Puyo
        Pop","original_release_date":"2003-10-06 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/puyo-pop\/3030-63\/"},{"name":"Pac-Man
        World","original_release_date":"1999-11-02 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/pac-man-world\/3030-64\/"},{"name":"Serious
        Sam","original_release_date":"2002-11-10 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/serious-sam\/3030-65\/"},{"name":"Sonic
        Advance 2","original_release_date":"2002-12-19 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/sonic-advance-2\/3030-66\/"},{"name":"Tiger
        Woods PGA Tour 07","original_release_date":"2006-10-10 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/tiger-woods-pga-tour-07\/3030-67\/"},{"name":"Crash
        Bandicoot: The Wrath of Cortex","original_release_date":"2001-10-29 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/crash-bandicoot-the-wrath-of-cortex\/3030-68\/"},{"name":"Iridion
        3D","original_release_date":"2001-05-29 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/iridion-3d\/3030-69\/"},{"name":"7
        Colors","original_release_date":"1991-12-31 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/7-colors\/3030-70\/"},{"name":"CubeDrift","original_release_date":"2006-04-19
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/cubedrift\/3030-71\/"},{"name":"Math
        Blaster: Episode 1 - In Search of Spot","original_release_date":"1994-10-31
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/math-blaster-episode-1-in-search-of-spot\/3030-72\/"},{"name":"Steel
        Panthers III: Brigade Command (1939-1999)","original_release_date":"1997-10-31
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/steel-panthers-iii-brigade-command-1939-1999\/3030-73\/"},{"name":"Ancient
        Egyptian Mehen: The Forbidden Game of the Snake","original_release_date":"1998-05-31
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/ancient-egyptian-mehen-the-forbidden-game-of-the-s\/3030-74\/"},{"name":"Castle
        Shikigami 2","original_release_date":"2003-10-24 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/castle-shikigami-2\/3030-75\/"},{"name":"SingStar
        ''80s","original_release_date":"2007-09-18 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/singstar-80s\/3030-76\/"},{"name":"Samurai
        Jack: The Shadow of Aku","original_release_date":"2004-03-24 00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/samurai-jack-the-shadow-of-aku\/3030-77\/"},{"name":"Deflektor","original_release_date":"1988-12-31
        00:00:00","site_detail_url":"http:\/\/www.giantbomb.com\/deflektor\/3030-78\/"},{"name":"The
        Archers","original_release_date":null,"site_detail_url":"http:\/\/www.giantbomb.com\/the-archers\/3030-79\/"},{"name":"Ruff
        and Reddy in the Space Adventure","original_re[...]
[...]
