---
http_interactions:
- request:
    method: get
    uri: http://www.giantbomb.com/api/platforms/?api_key=c66585c2f638b4f9cb135c0dc661624ce51125cb&field_list=name,original_price,install_base&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 09-20-2016 20:04:21
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":100,"offset":0,"number_of_page_results":100,"number_of_total_results":148,"status_code":1,"results":[{"install_base":"6000000","name":"Amiga","original_price":"1285.00"},{"install_base":"118690000","name":"Game
        Boy","original_price":"179.00"},{"install_base":"81440000","name":"Game Boy
        Advance","original_price":"100.00"},{"install_base":"11000000","name":"Game
        Gear","original_price":"150.00"},{"install_base":"40000000","name":"Genesis","original_price":"189.00"},{"install_base":"500000","name":"Atari
        Lynx","original_price":"190.00"},{"install_base":"16390000","name":"Sega Master
        System","original_price":"200.00"[...]
[...]
