<p style="text-align:center">
  Ever Wondered What Countries Have the Most Gaming Companies?
</p>
<div id="map">
  <% cache("companies-map") do %>
    <%= geo_chart @companies.group(:location_country).count %>
  <% end %>
</div>
