.flash-messages {
  margin: auto;
  padding: 20px;
  text-align: center;
}

.flash-success, .flash-danger {
  text-align: center;
}
.flash-success {
  color: white;
  background-color: green;
  width: 350px;
  margin: 0 auto;
  border-radius: 8px 8px 8px 8px;
}
.flash-danger {
  color: white;
  background-color: crimson;
  width: 350px;
  margin: 0 auto;
  border-radius: 8px 8px 8px 8px;
}

.company {
  margin: 0 auto;
  color: white;
  background-color: rgb(6, 120, 255);
  text-align: center;
  width: 60%;
  border-radius: 5px 5px;
}

.platform {
  margin: 0 auto;
  color: white;
  background-color: rgb(6, 120, 255);
  text-align: center;
  width: 60%;
  border-radius: 5px 5px;
}

.game {
  margin: 0 auto;
  color: white;
  background-color: rgb(6, 120, 255);
  text-align: center;
  width: 60%;
  border-radius: 5px 5px;
}
