<% flash.each do |type, message| %>
<div class="primary callout" data-closable>
  <h5 class="popup"><%= message %></h5>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>
